
<main class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-sm-8 offset-sm-1">
        <h1>Please Register</h1>
        <form class="form"  [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-2">
                <label for="username">UserName</label>
                <input type="text" class="form-control" id="username" 
                placeholder="Enter Name" formControlName="username" required>
            </div>
            <div class="form-group mb-2">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" 
                placeholder="Enter Password" formControlName="password" required>
            </div>
            <div class="form-group mb-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" 
                placeholder="Enter Password" formControlName="email" required>
            </div>
            <div class="form-group mb-2">
                <label for="displayName">Display Name</label>
                <input type="text" class="form-control" id="displayName" 
                placeholder="Enter Password" formControlName="displayName" required>
            </div>
            

            <button class="btn-primary btn mb-2" type="submit">
                <i class="fas fa-edit"></i>Submit
            </button>
            <a href="/login" class="btn btn-warning mb-2 ml-2">
                <i class="fas fa-undo"></i>Cancel
            </a>
        </form>
      </div>
    </div>
  </main>
  